body{
    display: flex;
    margin: 0;
    padding: 0;
}

header { 
    display: flex; 
    padding: 25px 16px; 
    background-color: #254C73; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
} 

.titulo-header{
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    color: #EAEAEA; 
    margin-left: 15px;
}


.hero-container {
    position: sticky;
    width: 100%;
    margin-top: 70px;
}


.hero-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titulo-header h3 {
    margin: 0;
    line-height: 1;
}

.menu{
    display: flex;
    margin-right: 15px;
    gap: 15px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #EAEAEA;
    text-decoration: none;
    color: #EAEAEA;
    gap: 15px;
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
}

  .hero-banner {
    min-height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/ChatGPT\ Image\ 24\ de\ ago.\ de\ 2026\,\ 14_48_20.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100VH;
    width: 100VW;
  }

  .container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }

  .logo{
     display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-left: 50px;
    box-sizing: border-box;

    font-family: "BBH Bartle", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    color: #EAEAEA;
    letter-spacing: 4px;
  }

  .sobre-tipos{
    min-height: 100%;
    background-color: rgb(255, 255, 255);
  }
  
  .card {
    width: 90%;
    max-width: 1100px;
    min-height: 500px;

    margin: 30px auto;
    padding: 28px;

    display: flex;
    align-items: center;
    gap: 40px;

    background-color: #f1f1f1;
    border-radius: 10px;


    box-shadow: 10px 12px 0px #999;

    box-sizing: border-box;

     font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}









    
  